body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

img {
  width: 300px;
  border-radius: 10px;
}

/* Header */
header {
  background: #111;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

header {
   background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
}



header h1 {
  margin: 0;
  font-size: 36px;
}

/* Sections */
section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Gallery */
.gallery .images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  border-radius: 8px;
}

/* Info */
.info p {
  text-align: center;
  font-size: 18px;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
